<h1> Blog Posts </h1> 

<table> 
	<tr> 
		<th> Title </th> 
		<th> Text </th> 
	</tr>
 <% @articles.each do |article| %>  
	<tr>
		<td> <%= article.title %> </td> 
		<td> <%= article.text %> </td>
		<td> <%= link_to 'View post', article_path(article)%> </td> 
		<td> <%= link_to 'Edit post', edit_article_path(article) %> </td>
		<td> <%= link_to 'Delete post', article_path(article), method: :delete,
		data: {confirm: 'Are you sure you want to delete this post?'} %> </td>  
	</tr> 
   <% end %> 
  </table> 
<br> 
<br>
  <%= link_to 'New post', new_article_path%>
